* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(48, 48, 48);
}

.home{
    margin-left: 10px;
    font-size:x-large;
}

.right {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin: 10px;

}

nav a {
    color: white;
    text-decoration: none;
}

.page{
    text-align: center;
}